@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	padding: 0;
	margin: 0;
}
:root {
	/* Primary */
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);

	/* Neutral */
	--v-dark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--v-light-gray: hsl(0, 0%, 98%);
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	background-color: var(--v-light-gray);
	color: var(--grayish-blue);
}

/* HEADER */

.header-text {
	width: 33%;
	min-width: 370px;
	margin: 4% auto;
	text-align: center;
}

.head-first {
	font-weight: 200;
	color: var(--v-dark-blue);
}

.head-second {
	color: var(--v-dark-blue);
	margin-bottom: 2%;
}

/* MAIN */

.grid-container {
	width: 75%;
	min-height: 570px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 1fr);
}

.box {
	position: relative;
	margin: 3%;
	padding: 8%;
	background-color: #fff;
	box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
	border-top: 3px solid black;
	border-radius: 10px;
}

.title {
	color: var(--v-dark-blue);
}
.icon {
	margin-top: 2%;
	position: absolute;
	right: 10%;
	bottom: 10%;
}

.team-builder {
	grid-column: 5 / span 4;
	grid-row: span 2;
	border-color: var(--red);
}

.supervisor {
	grid-column: span 4;
	grid-row: 2 / span 2;
	border-color: var(--cyan);
}

.calculator {
	grid-column: 9 / span 4;
	grid-row: 2 / span 2;
	border-color: var(--blue);
}

.karma {
	grid-column: 5 / span 4;
	grid-row: 3 / span 2;
	border-color: var(--orange);
}

/* @MEDIA */

/* Table Responsive */
@media screen and (max-width: 850px) {
	.header-text {
		width: 60%;
		min-width: 0;
	}
	.grid-container {
		width: 80%;
		grid-template-rows: repeat(2, 1fr);
	}
	.supervisor {
		grid-row: 1;
		grid-column: 1 / span 6;
	}
	.team-builder {
		grid-row: 1;
		grid-column: span 6;
	}
	.karma {
		grid-row: 2;
		grid-column: 1 / span 6;
	}
	.calculator {
		grid-row: 2;
		grid-column: span 6;
	}
}

/* Moblie responsive */
@media screen and (max-width: 550px) {
	.header-text {
		width: 85%;
	}
	.text {
		margin: 5% 0;
	}
	.head-first {
		font-size: 25px;
	}
	.head-second {
		font-size: 25px;
	}
	.grid-container {
		margin-top: 15%;
		width: 85%;
		height: 150vh;
		grid-template-rows: repeat(4, 1fr);
	}
	.supervisor {
		grid-row: 1;
		grid-column: 1 / span 12;
	}
	.team-builder {
		grid-row: 2;
		grid-column: span 12;
	}
	.karma {
		grid-row: 3;
		grid-column: span 12;
	}
	.calculator {
		grid-row: 4;
		grid-column: span 12;
	}
}
